/*Variable*/
:root {
  --primary: black;
  /*accents*/
  --secondary: #eaebec;
  /*background colour*/
  --third: black;
  /*text colours and 20%*/
  --fourth: #9e9f9f;
  /*darker accent*/
  --fifth: whitesmoke;
  /*darker background*/
}
