@import url("/variables.css");

/*Used to make nav bar more visibile on about us page*/
/*@media screen and (min-width: 1086px) {
    .navBar {
        position: absolute;
        width: 100%;
        color: var(--third);
        display: flex;
        z-index: 2;
        background-color: var(--secondary);
        opacity: ;
    }
}
*/

/*Turn colours on nav bar in about us page white*/
li a {
    color: black;
}

li a:hover {
    color: grey;
}

/*Nav Bar*/
.aboutMeLink {
    padding: 10px 10px;
    border-bottom: var(--fourth) 3px solid;
    cursor: default;
}

#about_us_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    padding-top: min(200px, 5%);
    height: 100vh;
    background-image: url(/Assets/testlandscape.jpg);
    background-attachment: fixed;
    background-size: cover;

}

#about_us_section div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--fifth);
    opacity: 0.8;
    margin: 20px;
    padding: 20px;
    width: min(700px, 90%);
    border-radius: 30px;
}

#about_us_section p {
    width: min(600px, 100%);
    padding: 20px;
    text-indent: 2rem;
}


/*Mission Statemnent Section*/
#mission_statement_section {
    height: 100vh;
    background-color: #903425;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
}


#mission_statement_section #mission_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f48037;
    margin: 20px;
    padding: 20px;
    width: min(800px, 90%);
    text-align: center;
    border: black solid 3px;

}

#mission_content h3 {
    width: min(800px, 100%);
    padding: 20px;
    text-indent: 2rem;

}


/*Team Meet Section*/
#team_meet_section {
    background-image: url(/Assets/landscapeagain.jpg);
    background-attachment: fixed;


}

#team_meet_section h2 {
    text-align: center;
    padding: 20px;
}



#imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 20px;
}

#imgContainer p {
    width: min(400px, 100%);
    background-color: white;
    opacity: 0.7;
    border-radius: 10px;
    padding: 10px;
}

img {
    width: 400px;
    height: auto;
    margin: 20px 0 20px 0;
    border-radius: 10px;
}

.profile_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*global*/
.headers {
    background-color: var(--fifth);
    text-align: center;
    border-top: #f48037 solid 3px;
}

@media screen and (max-width: 899px) {
    section {}

    section div {
        flex-direction: column;
    }

}

/*messy but fixes the phone picture with bug*/
@media screen and (max-width: 570px) {
    img {
        width: 100%;
        padding: 20px;
    }
}
